
.site:before {
	display: none;
}

.header-main{
	border-bottom:2px solid white;
}

html,body {
	background: #f56768;
}

#lotr{
	margin-top: 5%;
}

#bottom_ring_container{
	display: table;
    margin: 0 auto;
	width: 500px;
	height: 300px;
	background-image: url(../fishy/ring_bottom.png);
	background-size: cover;
/*	background-size: contain;*/
	background-color: #f56768;

}

#top_ring_container{
	display: table;
    margin: 0 auto;
	width: 500px;
	height: 190px;
	background-image: url(../fishy/ring_top.png);
	background-size: cover;
	background-color: #f56768;
}

#page_title{
	display: table;
    margin: 0 auto;
    font-size:400%;
    color: white;
    margin-top: 20%;
}

#ring_div{
    display: table;
    padding: 10px;
    margin: 0 auto;
    
}
#ring_div p {
	margin: 0;
	font-size:150%;
}

#ring_div p a{
	color: white;

}

.site, body.custom-background {
background-color: #f56768;

}