

.modal {
    top: -100px;
    left: 0px;


    background-color: black;
    color: black;

    display: block;
    position: absolute;

    width: 2000px;
    height: 2000px;

    filter:alpha(opacity=50); 
    opacity:0.5;
    z-index: 9;

}


.modalmodal p{
    color: white;

}

.modalmodal{
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 10;
    font-size: 450%;
}

#modal_inner_wrapper{
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-left: 10px;
}

/*#search_modal_form div{
    margin:0 auto;
}
*/


#textForm input{
    margin-left: 20px;
    margin-right: 20px;
}

#submitForm input {
  background: url(../fishy/search.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-size: 0px;
  height: 150px;
  width: 150px;
  background-size: cover;
  /*float: right;*/
}

#search_modal_form div{
    display: inline-block;
}





#search-box-modal-container{

    cursor: pointer;
    float: right;
    height: 100%;
    margin-right: 38px;
    text-align: center;
    min-width: 48px;
    min-height: 48px;

}

#search-box-modal-container:hover{
    background: #24890d;
}


#search-box-modal{
    margin-top: 25%;
    margin-left: 25%;
    height: 24px;
    width: 24px;
    background-image: url(../fishy/search.png);
    background-size: cover;
}




.modalmodal, .modal{
    display: none;
}

#modal_closer{
    position: absolute;
    right: 10px;
    font-size: 100px;
    color: white;
}


